            <footer class="footer-3 text-center-xs space--xs ">
                <div class="container">
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="type--fine-print">
                                Supercharge your web workflow
                            </p>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <span class="type--fine-print">&copy;
                                <span class="update-year"></span> Stack Inc.</span>
                            <a class="type--fine-print" href="#">Privacy Policy</a>
                            <a class="type--fine-print" href="#">Legal</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        <script src="<%= path %>js/jquery-3.1.1.min.js"></script>
        <script src="<%= path %>js/flickity.min.js"></script>
        <script src="<%= path %>js/easypiechart.min.js"></script>
        <script src="<%= path %>js/parallax.js"></script>
        <script src="<%= path %>js/typed.min.js"></script>
        <script src="<%= path %>js/datepicker.js"></script>
        <script src="<%= path %>js/isotope.min.js"></script>
        <script src="<%= path %>js/ytplayer.min.js"></script>
        <script src="<%= path %>js/lightbox.min.js"></script>
        <script src="<%= path %>js/granim.min.js"></script>
        <script src="<%= path %>js/jquery.steps.min.js"></script>
        <script src="<%= path %>js/countdown.min.js"></script>
        <script src="<%= path %>js/twitterfetcher.min.js"></script>
        <script src="<%= path %>js/spectragram.min.js"></script>
        <script src="<%= path %>js/smooth-scroll.min.js"></script>
        <script src="<%= path %>js/scripts.js"></script>
    </body>

<!-- Mirrored from trystack.mediumra.re/home-accommodation.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Jan 2018 04:55:53 GMT -->
</html>