<%- include('./header.ejs', {path: '../../'}); %>

	<div class="main-container">
		<section>
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
	                    <article>
	                        <div class="article__title text-center">
	                            <h1 id="title" class="h2"> <%= book.title %></h1>
	                            <span id="author"> <%= book.author %> </span>
	                        </div>
	                        <!--end article title-->
	                        <div class="article__body moveToCenter">
	                            <img id="image" alt="Image" src="../../img/<%= book.image %>" />
	                            <p id="description">
	                                <%= book.description %>
	                            </p>
	                        </div>
	                    </article>
	                    <!--end item-->
	                </div>
	            </div>
	            <!--end of row-->
	        </div>
	        <!--end of container-->
	    </section>
<%- include('./footer.ejs', {path: '../../'}); %>
